<mat-toolbar class="app-header glass-panel">
  <mat-progress-bar
    *ngIf="loading"
    class="loading-bar"
    mode="indeterminate"
    color="accent"
  ></mat-progress-bar>

  <div class="app-header__inner">
    <div class="app-header__lead">
      <button
        *ngIf="_enableHamburger"
        mat-icon-button
        class="app-header__icon-btn"
        (click)="onHamburgerClick.emit()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <a [routerLink]="homeRoute" class="logo text-link">
        <div class="svg-logo">
          <img src="/assets/branding/logo/picsur.svg" alt="Picsur Icon Logo" />
        </div>
        <div class="svg-logo-text">
          <img
            src="/assets/branding/text/picsur_dark.svg"
            class="d-none d-sm-block"
            alt="Picsur Text Logo"
          />
        </div>
      </a>
    </div>

    <div class="app-header__nav" *ngIf="canUpload && isLoggedIn">
      <button mat-stroked-button class="nav-pill" (click)="doImages()">
        <mat-icon fontSet="material-icons-outlined">image</mat-icon>
        <span>图片</span>
      </button>
      <button mat-stroked-button class="nav-pill" [routerLink]="['/videos', 1]">
        <mat-icon fontSet="material-icons-outlined">videocam</mat-icon>
        <span>视频</span>
      </button>
      <button mat-stroked-button class="nav-pill" [routerLink]="['/albums']">
        <mat-icon fontSet="material-icons-outlined">photo_library</mat-icon>
        <span>相册</span>
      </button>
    </div>

    <span class="spacer"></span>

    <div class="app-header__actions">
      <button
        matTooltip="上传内容"
        *ngIf="canUpload"
        mat-flat-button
        color="primary"
        class="upload-cta"
        (click)="doUpload()"
      >
        <mat-icon fontSet="material-icons-outlined">upload</mat-icon>
        <span class="d-none d-sm-inline">上传</span>
      </button>

      <button
        [matTooltip]="canRegister ? '登录或注册' : '登录到您的账户'"
        *ngIf="!isLoggedIn && canLogIn"
        mat-stroked-button
        class="login-btn"
        (click)="doLogin()"
      >
        登录
      </button>

      <button
        matTooltip="您的账户"
        *ngIf="isLoggedIn"
        mat-icon-button
        class="app-header__avatar-btn"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
      </button>
    </div>
  </div>

  <mat-menu #menu="matMenu" xPosition="before" class="account-menu">
    <ng-template matMenuContent>
      <div class="menu-username">
        <div class="menu-username__label">已登录</div>
        <h2 class="mat-typography">{{ user?.username }}</h2>
      </div>
      <button *ngIf="canUpload" mat-menu-item [routerLink]="['/images', 1]">
        <mat-icon fontSet="material-icons-outlined">image</mat-icon>
        <span>我的图片</span>
      </button>
      <button *ngIf="canUpload" mat-menu-item [routerLink]="['/videos', 1]">
        <mat-icon fontSet="material-icons-outlined">videocam</mat-icon>
        <span>我的视频</span>
      </button>
      <button *ngIf="canUpload" mat-menu-item [routerLink]="['/albums']">
        <mat-icon fontSet="material-icons-outlined">photo_library</mat-icon>
        <span>我的相册</span>
      </button>
      <button *ngIf="canAccessSettings" mat-menu-item (click)="doSettings()">
        <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
        <span>设置</span>
      </button>
      <button mat-menu-item (click)="doLogout()">
        <mat-icon fontSet="material-icons-outlined">logout</mat-icon>
        <span>退出登录</span>
      </button>
    </ng-template>
  </mat-menu>
</mat-toolbar>
