<div class="album-picker media-dialog-shell">
  <div class="album-picker__header">
    <div class="album-picker__header-copy">
      <span class="album-picker__eyebrow">Albums</span>
      <h2>添加到相册</h2>
      <p>将当前内容加入已有相册，或直接创建一个新的内容集合。</p>
    </div>
    <button mat-icon-button (click)="close()" aria-label="关闭">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="album-picker__content">
    <div class="album-picker__subject" *ngIf="data.imageName">
      <div class="album-picker__subject-media" *ngIf="data.imageUrl; else subjectIconOnly">
        <img [src]="data.imageUrl" [alt]="data.imageName" />
      </div>
      <ng-template #subjectIconOnly>
        <div class="album-picker__subject-icon">
          <mat-icon>image</mat-icon>
        </div>
      </ng-template>
      <div class="album-picker__subject-copy">
        <span class="album-picker__subject-label">当前内容</span>
        <strong class="selectable">{{ data.imageName }}</strong>
      </div>
    </div>

    <div class="album-picker__create" *ngIf="createMode">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>相册名称</mat-label>
        <input matInput [(ngModel)]="newAlbumName" placeholder="输入新相册名称" maxlength="50" autofocus />
      </mat-form-field>
      <div class="album-picker__create-actions">
        <button mat-button (click)="cancelCreate()">取消</button>
        <button mat-raised-button color="primary" (click)="createAndAdd()" [disabled]="!newAlbumName.trim()">
          创建并添加
        </button>
      </div>
    </div>

    <div class="album-picker__list" *ngIf="!createMode">
      <button type="button" class="album-picker__item album-picker__item--create" (click)="showCreateMode()">
        <mat-icon class="album-picker__item-icon">add</mat-icon>
        <div class="album-picker__item-copy">
          <span class="album-picker__item-title">创建新相册</span>
          <span class="album-picker__item-subtitle">新建一个集合并立即添加当前内容</span>
        </div>
      </button>

      <button
        type="button"
        class="album-picker__item"
        *ngFor="let album of albums"
        [class.is-selected]="isInAlbum(album)"
        (click)="toggleAlbum(album)"
      >
        <mat-icon class="album-picker__item-icon">{{ isInAlbum(album) ? 'check_circle' : 'photo_library' }}</mat-icon>
        <div class="album-picker__item-copy">
          <span class="album-picker__item-title">{{ album.name }}</span>
          <span class="album-picker__item-subtitle">{{ getPhotoCount(album) }} 项内容</span>
        </div>
        <span class="album-picker__item-state">{{ isInAlbum(album) ? '已添加' : '添加' }}</span>
      </button>

      <div class="album-picker__empty" *ngIf="albums.length === 0">
        <mat-icon>photo_library</mat-icon>
        <p>还没有相册，先创建一个再添加内容。</p>
      </div>
    </div>
  </div>

  <div class="album-picker__actions" *ngIf="!createMode">
    <button mat-button (click)="close()">完成</button>
  </div>
</div>
