<div class="auth-page">
  <div class="auth-card">
    <div class="auth-card__brand auth-card__brand--compact">
      <div class="auth-card__logo">
        <img class="auth-card__logo-mark" src="/assets/branding/logo/picsur.svg" alt="Picsur Logo" />
        <img class="auth-card__logo-text" src="/assets/branding/text/picsur_dark.svg" alt="Picsur" />
      </div>
      <h1>登录</h1>
    </div>

    <form class="auth-card__form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>用户名</mat-label>
        <input
          matInput
          type="text"
          [formControl]="model.username"
          name="username"
          autocorrect="off"
          autocapitalize="none"
          required
        />
        <mat-error *ngIf="model.username.errors">
          {{ model.usernameError }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>密码</mat-label>
        <input
          matInput
          type="password"
          [formControl]="model.password"
          name="password"
          required
        />
        <mat-error *ngIf="model.password.errors">
          {{ model.passwordError }}
        </mat-error>
      </mat-form-field>

      <div class="auth-card__actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="loading">
          {{ loading ? '加载中...' : '登录' }}
        </button>
        <button *ngIf="showRegister" mat-stroked-button type="button" (click)="onRegister()">
          注册
        </button>
      </div>
    </form>

    <div class="auth-card__footer" *ngIf="showRegister">
      还没有账户？<a (click)="onRegister()">创建新账户</a>
    </div>
  </div>
</div>
