<div class="pref-card">
  <div class="pref-card__head">
    <div>
      <h3>{{ name }}</h3>
      <p *ngIf="helpText !== ''">{{ helpText }}</p>
    </div>
  </div>

  <ng-container *ngIf="type === 'string'">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>{{ name }}</mat-label>
      <input matInput autocorrect="off" autocapitalize="none" placeholder="Empty" [formControl]="formControl" />
      <mat-error *ngIf="formControl.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="type === 'number'">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>{{ name }}</mat-label>
      <input matInput type="number" placeholder="Empty" [formControl]="formControl" />
      <mat-error *ngIf="formControl.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="type === 'boolean'">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>{{ name }}</mat-label>
      <mat-select [formControl]="formControl" placeholder="Empty">
        <mat-option [value]="false">No</mat-option>
        <mat-option [value]="true">Yes</mat-option>
      </mat-select>
      <mat-error *ngIf="formControl.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </ng-container>
</div>
