<div class="settings-sidebar">
  <div class="settings-sidebar__group" *ngIf="personalRoutes.length > 0">
    <div class="settings-sidebar__label">个人</div>
    <a
      *ngFor="let route of personalRoutes"
      class="settings-sidebar__link"
      [routerLink]="'/settings/' + route.path"
      routerLinkActive="is-active"
    >
      <mat-icon fontSet="material-icons-outlined">
        {{ route.data?.page?.icon }}
      </mat-icon>
      <span>{{ route.data?.page?.title }}</span>
    </a>
  </div>

  <div class="settings-sidebar__divider" *ngIf="systemRoutes.length > 0 && personalRoutes.length > 0"></div>

  <div class="settings-sidebar__group" *ngIf="systemRoutes.length > 0">
    <div class="settings-sidebar__label">系统</div>
    <a
      *ngFor="let route of systemRoutes"
      class="settings-sidebar__link"
      [routerLink]="'/settings/' + route.path"
      routerLinkActive="is-active"
    >
      <mat-icon fontSet="material-icons-outlined">
        {{ route.data?.page?.icon }}
      </mat-icon>
      <span>{{ route.data?.page?.title }}</span>
    </a>
  </div>
</div>
